.projects-items-centre {
    display: flex;
    align-items: center;
    justify-content: center;
}

.projects-items {
    border: 2px solid red;
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
}